img {
  width: 350px;
  height: 400px;
  margin-left: 200px;
}

.doggie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-family: "Marcellus", serif;
  letter-spacing: 5px;
  font-size: 20px;
  color: darkblue;
  text-align: center;
}

body {
  font-family: "Marcellus", serif;
  color: darkblue;
  background: lightblue;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

hr {
  border-top: 1px dashed darkblue;
}

.intro h2 {
  letter-spacing: 8px;
}

button {
  font-family: "Marcellus", serif;
  background: darkblue;
  color: white;
}

@media (max-width: 576px) {
  body {
    background: lightseagreen;
  }

  .container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-content: center;
  }

  .container h3 {
    font-size: 25px;
  }

  div {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  form legend {
    font-size: 25px;
  }
}
