body {
    background-color: peachpuff;
}

#container {
    background-color: lightpink;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: red 5px solid;
    border-radius: 5px;
}

article {
    border-bottom: pink 2px ridge;
}

#specialbox {
    border: none;
}

article:hover {
    background-color: coral
}