header {
  background: url(../imgBacon/pigStock.png);
  height: 300px;
  width: 100%;
  border: 2px solid black;
}

h1 {
  text-align: center;
  padding-top: 125px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px black;
}

body {
  background: tomato;
}

div {
  font-family: "Lexend Deca", sans-serif;
  padding: 25px;
}

.pigPara {
  display: flex;
}

.para1 {
  width: 50%;
}

.para2 {
  width: 50%;
}

@media (max-width: 576px) {
  .pigPara {
    flex-direction: column;
    margin-right: 30px;
  }

  .para1 {
    width: 100%;
  }

  .para2 {
    width: 100%;
  }
}
